*{
  margin: 0;
  padding: 0;
}

section{
  width: 100%;
  height: 100vh;
  background-color: rgb(67, 202, 157);
}

.container{
  width: 600px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  margin: 20px;
  /* 移除 img 底部的空白 */
  /* 方法一：在 img 標籤下加入 display:block 形成一區塊 */
  /* display: block; */

  /* 方法二：設置圖片的垂直對齊方式，將 vertical-align 屬性設為 top、text-top、bottom、text-bottom 皆可解決 */
  /* vertical-align:bottom; */
}

h1{
  width: 400px;
  display: inline-block;
  background-color: #063d3d;
  color: #fff;
  padding: 10px 100px;
  text-align: center;
  border-radius: 5px;
}

.description{
  width: 600px;
  position: relative;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description .arrow{
  font-size: 30px;
  color: #063d3d;
}

.description .arrow.left{
  position: absolute;
  left:0;
}

.description .arrow.right{
  position: absolute;
  right:0;
}

.menuItem.white{
  float: none;
  width: auto;
}

.menuItem{
  font-size: 0;
}

.menuItem .number{
  display: inline;
  background-color: #063d3d;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px 0 0 5px;
}

.menuItem .type{
  display: inline;
  background-color: #d6c633;
  color: #063d3d;
  padding: 5px 5px 5px 10px;

  /* 字距 */
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: 700;
}

.menuItem .title{
  display: inline;
  background-color: #fff;
  color: #063d3d;
  text-decoration:none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0 5px 5px 0;
}

